{% extends "base.html" %}

{% block content %}
<p> I don't have any ideas for the extra page </p>
<p> so here's a quilting block I made on monday </p>
<img src="https://cdn.discordapp.com/attachments/848348285626351686/1156302430284304444/IMG_20230925_234713679_HDR.jpg?ex=65147a0e&is=6513288e&hm=7c72519369d6be7ce1f0a0aee1d542fa46a75b78df4ebf54943b2c779a29e9ee&"
width = 20%>
<p> It's kinda crumby, but I got a new sewing machine after mine kicked </p>
<p> the bucket. The bobbin kept knotting the needle and all that jazz,  </p>
<p> Plus, Joann has a HUGE sale and I got a 400 buck brother for 180    </p>
{% endblock content %}
